.card-list-container {
  height: 100%;
  padding: 40px;
}

.card-list {
  align-items: start;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;
  width: 100%;
}

.card-list-title {
  color: white;
  font-size: 30px;
  line-height: 35px;
}

.play-button {
  background-color: rgb(100, 100, 100);
  border-radius: 6px;
  color: rgb(255, 152, 0);
  font-size: 30px;
  height: 40px;
  min-height: 60px;
  padding: 20px;
  width: 150px;
}
